params {
    input = null
    outdir = './results'
    query_sequence = null
    fasta_database = null
    algorithm = 'HMMER'
    max_homologs = 150
    substitution_model = 'BEST'
    max_id = 95
    min_id = 35
    cutoff = 0.0001
    max_iterations = 1
    maximum_likelihood = false
    closest = false
    msa_file = null
    alignment_program = null
    structure_file = null
    chain = 'A'
    query_name = null
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
